* {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

input {
    outline: none;
}

.inactive {
    display: none !important;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    max-height: 100vh;
    height: 100vh;
}

.visualizer-container {
    max-height: 60%;
    height: 60%;
    width: 100%;
}

.controls-container {
    max-height: 40%;
    height: 40%;
    width: 95%;
    box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.54);
    border-radius: 16px;
    position: relative;
    bottom: 16px;
    margin: 0 auto;
    display: flex;
    padding-top: 32px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.selection-title {
    text-align: center;
    position: absolute;
    top: 2px;
    font-size: 20px;
}

.shapes-title {
    width: 25%;
    left: 8px;
}

.roots-title {
    width: 10%;
    left: calc(25% + 8px);
}

.settings-title {
    width: 15%;
    left: calc(35% + 8px);
}

.tab-selector,
.mode-selector,
.root-selector,
.settings {
    border-right: 1px solid #9e9e9e;
}

.tab-selector {
    margin-left: 8px;
    width: 10%;
}

.tab-selector,
.root-selector {
    width: 10%;
}

.mode-selector,
.settings {
    width: 15%;
}

ul.selector {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
}

.selector li {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0 8px 8px;
}

.tab-selector li.active {
    background-color: #f05757 !important;
}

.mode-selector li.active {
    background-color: #70b1dd !important;
}

.mode-selector ul {
    display: none;
}

.mode-selector ul.active {
    display: flex;
}

.selector li {
    height: 48px;
    transition: .15s;
    cursor: pointer;
}

.tab-selector li:hover {
    background: #ffb6b6;
}

.mode-selector li:hover {
    background: #bde5ff;
}

#root-selector {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 10px !important;
    column-gap: 24px !important;
    justify-content: space-evenly;
    align-items: start;
    align-content: space-between;
}

#root-selector li {
    flex: 0 0 0.5;
    width: 36px !important;
    height: 36px;
    position: relative;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 100%;
}

li span {
    position: relative;
    font-size: 14px;
    width: fit-content;
    transform: translate(-100%, -100%);
    right: -2px;
    bottom: -3px;
}

#root-selector li.active {
    background-color: #78ff78 !important;
}

#root-selector li:hover {
    background-color: #befcb8;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 8px;
}

.settings p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 12px;
}

.select-style,
.select-semi{
    display: flex;
    gap: 16px;
}

.select-style span,
.select-semi span {
    width: 84px;
    text-align: center;
    font-size: 16px;
    padding: 4px 0;
    border-radius: 4px;
    cursor: pointer;
}

.select-style span:hover,
.select-semi span:hover {
    background: #f8e0ad;
}

.select-style .active,
.select-semi .active {
    background: #f8c351 !important;
}

.input-fret {
    padding: 2px;
    text-align: center;
    border: 2px #9e9e9e solid;
    border-radius: 8px;
    
}

.select-range{
    display: flex;
    gap: 12px;
    justify-content: center;
}